<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Новый год</title>

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#302b44">
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#302b44">
  <meta name="msapplication-config" content="favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <script>
    const MEDIA = {
      xs: 395.98,
      sm: 545.98,
      md: 749.98,
      lg: 1259.98,
    }
  </script>
</head>

<body>
  <header class="header">
    <div class="header-logo">
      <img src="img/logo.png" alt="">
      <div class="header-logo-hat">
        <img src="img/hat.png" alt="">
      </div>
    </div>
    <div class="header-sign">
      <img src="img/started-sign.svg" alt="">
    </div>
  </header>

  <section class="started">
    <div class="started-title title fade-in-down" data-scroll>
      Нашему любимому <br>
      клиенту!
    </div>
    <div class="started-subtitle  fade-in-down" data-scroll>
      Скоро Новый год! Ёлка,игрушки, мандарины, Дед Мороз и Снегурочка. <br>
      А много ли вы вообще знаете об этом празднике?
    </div>
    <div class="started-img started-img--1 fade-in-down" data-scroll>
      <img src="img/started-img-1.png" alt="">
    </div>
    <div class="started-img started-img--2 fade-in-down" data-scroll>
      <img src="img/started-img-2.png" alt="">
    </div>
    <div class="started-img started-img--3 fade-in-down" data-scroll>
      <img src="img/started-img-3.png" alt="">
    </div>
  </section>

  <section class="fact ">
    <div class="swiper fade-in-down" data-scroll>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="fact-item fact-item--rom">
            <div class="fact-item-content">
              <div class="fact-item-sign">Ave Caesar!</div>
              <div class="fact-item-title">
                Рим, <br>
                Салат... <br>
                и... Новый год?
              </div>
              <div class="fact-item-desc">
                В 46 году до н.э. Юлий Цезарь окончательно установил начало года <br>
                на 1 января введением собственного, "юлианского" календаря. <br>
                В Древнем Риме во время празднования Нового года чествовали <br>
                языческого бога Януса, считавшегося покровителем входов, <br>
                выходов и всех начал. По мнению историков, Новый год является самым <br>
                древним праздником на планете. Первые документальные упоминания о нем <br>
                датируются третьим тысячелетием до н.э., но эксперты считают, <br>
                что праздник еще старше. <br>
                <br>
                Утром 1 января поблагодарите Цезаря!
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/rom/image.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fact-item fact-item--dragon">
            <div class="fact-item-content">
              <div class="fact-item-sign">Зеленый, длинный и могучий...</div>
              <div class="fact-item-title">
                Символ 2024 <br>
                года - Зеленый <br>
                деревянный дракон
              </div>
              <div class="fact-item-desc">
                Это мифическое существо считается вестником перемен, новой эпохи. <br>
                Амбициозный, своенравный, стремительный, яркий и могучий зверь <br>
                покровительствует тому, кто не боится рисковать, смело пользуется <br>
                полученным шансом изменить свою жизнь к лучшему. Хозяин <br>
                ближайших 12 месяцев щедро раздает подарки, награждает удачей <br>
                и помогает людям, которые прилагают все усилия для достижения <br>
                поставленных целей. <br>
                <br>
                Почти как Змей Горыныч, только голова одна...
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/dragon/image.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fact-item fact-item--ded">
            <div class="fact-item-content">
              <div class="fact-item-sign">Подарки, дети, два деда </div>
              <div class="fact-item-title">
                Дед Мороз <br>
                и Санта Клаус. <br>
                В чем разница?
              </div>
              <div class="">
                Вот вам топ 3 отличия:
                <br><br>
                <div class="flex gap-3">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#snowflake" />
                  </svg>
                  <div>
                    Прообразом Санта Клауса является Святой Николай, <br>
                    а Дедушка Мороз - собирательный образ <br>
                    из языческих легенд и сказаний.
                  </div>
                </div>
                <br>
                <div class="flex gap-3">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#snowflake" />
                  </svg>
                  <div>
                    Дедушка Мороз проживает в своей резиденции <br>
                    в Большом Устюге, а Санта Клаус имеет личные <br>
                    апартаменты в стране Лапландия.
                  </div>
                </div>
                <br>
                <div class="flex gap-3">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#snowflake" />
                  </svg>
                  <div>
                    В отличие от Санта Клауса, Дедушка Мороз <br>
                    по прямому поручению Дедушки Сталина <br>
                    переквалифицировался из символа Рождества <br>
                    в символ Нового Года!
                  </div>
                </div>
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/ded/image.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fact-item fact-item--australia">
            <div class="fact-item-content">
              <div class="fact-item-sign headdown">С Новым Годом!</div>
              <div class="fact-item-title">
                Как всегда наоборот — <br>
                Австралийский <br>
                Новый год!
              </div>
              <div class="fact-item-desc">
                В Австралии празднования Нового Года выпадают на самый<br>
                разгар лета! Такая погода вносит свои коррективы <br>
                в особенности празднований и гуляний – большинство жителей <br>
                Австралии проводят сам Новый год и последующие дни на свежем <br>
                воздухе, загорая на пляже и катаясь на серфе.<br>
                <br>
                Самыми удивительными отличиями в традиции празднования является,<br>
                пожалуй, внешний вид Санта Клауса и праздничное дерево. Санта обычно<br>
                поздравляет австралийцев в плавках, бороде и шапке, а вместо ёлки они сажают<br>
                растение под названием метросидерос!<br>
                <br>
                Почти как на курортах краснодарского края!
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/australia/image.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fact-item fact-item--kit">
            <div class="fact-item-content">
              <div class="fact-item-sign headdown">Пушистый терроризм</div>
              <div class="fact-item-title">
                Зачем коты <br>
                крушат ёлки? <br>
                Ученые дали ответ
              </div>
              <div class="fact-item-desc">
                Ученые выяснили, почему кошек так привлекают новогодние <br>
                елки. Дело в том, что лесную красавицу они видят только раз в <br>
                году. Она представляет для них сверхъестественный интерес: <br>
                блестящий "дождик", елочные игрушки, бликующие шары - все <br>
                это привлекает любопытных котов.<br>
                <br>
                Полностью оправданы!

              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/kit/image.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>

      </div>
      <button class="btn btn-fab btn--primary btn--white-bg fact-btn fact-prev">
        <svg class="icon color-text">
          <use xlink:href="img/icons.svg#to-left" />
        </svg>
      </button>
      <button class="btn btn-fab btn--primary btn--white-bg fact-btn fact-next">
        <svg class="icon color-text">
          <use xlink:href="img/icons.svg#to-right" />
        </svg>
      </button>
    </div>
  </section>
  <script>
    new Swiper('.fact .swiper', {
      slidesPerView: 1,
      spaceBetween: 40,
      navigation: {
        prevEl: '.fact-prev',
        nextEl: '.fact-next',
      },
      speed: 1000,
      // autoplay: {
      //   // delay: 0,
      //   disableOnInteraction: false
      // },
    })
  </script>

  <section class="greeting">
    <div class="greeting-title title fade-in-down" data-scroll>
      Вся наша команда <br>
      поздравляет Вас с успешным <br>
      завершением 2022 года!
    </div>
    <div class="greeting-desc fade-in-down" data-scroll>
      Хотим сказать спасибо за бесценный опыт плодотворного сотрудничества, мы были очень рады <br>
      работать вместе с Вами. Искренне желаем дальнейшего процветания, успехов, счастья и <br>
      улыбок. И пускай в следующем году у Вас реализуются все грядущие стремления и начинания!
    </div>
  </section>


  <section class="feedback">
    <div class="feedback-block">
      <div class="feedback-title title fade-in-down" data-scroll>Поздравить WEBMENS</div>
      <div class="feedback-desc fade-in-down" data-scroll>
        Напишите свое поздравление, а мы сядем всей командой вечером <br>
        у теплого камина и прочтем их все до единого! <br>

      </div>
      <label class="feedback-field form-field mb-8 fade-in-down" data-scroll>
        <div class="text-body-2 text--demibold mb-2">От кого</div>
        <div class="form-input-cover">
          <input type="text" class="form-input">
        </div>
      </label>
      <label class="feedback-field form-field fade-in-down" data-scroll>
        <div class="text-body-2 text--demibold mb-2">Поздравление</div>
        <div class="form-input-cover">
          <textarea name="" id="" cols="30" rows="10" class="form-input"></textarea>
        </div>
      </label>
      <button class="feedback-field btn btn--primary btn--fill btn-large mt-6 fade-in-down" data-scroll>Отправить</button>
      <div class="feedback-field text--center text-body-2 fade-60 mt-6 fade-in-down" data-scroll>
        Отправляя поздравление вы даете согласие на то, чтобы
        прочитавший его почувствовал радость и ваше тепло
      </div>

      <div class="feedback-img feedback-img--1 fade-in-down" data-scroll>
        <img src="img/feedback-gift.png" alt="">
      </div>
      <div class="feedback-img feedback-img--2 fade-in-down" data-scroll>
        <img src="img/feedback-rocket.png" alt="">
      </div>
    </div>
  </section>


  <section class="review">
    <div class="review-title title fade-in-down" data-scroll>
      Ваши прекрасные <br>
      поздравления
    </div>
    <div class="review-slider swiper fade-in-down" data-scroll>
      <div class="swiper-wrapper">
        <% for(let i=0; i < 12; i++){ %>
        <div class="swiper-slide review-item">
          <div class="flex flex-align-center mb-5 mb-md-10">
            <img src="img/avatar-1.png" alt="" class="d-block mr-5">
            <div class="text-body-2 text-md-subtitle-2 text--bold">Ирина Новикова</div>
          </div>
          <div class="lh-1-5 text-small text-md-body-1">
            Пусть в новом году вам сопутствует удача, успех и достаток. Наслаждайтесь каждым мгновением вашей жизни,
            будьте с любимыми, окружайте себя и своих близких теплом и заботой, согревайте их своей любовью, а они в
            ответ согреют вас. Будьте счастливы, с Новым годом!

            И кстати. Сделайте пожалуйста баннер
            с акцией, тз пока нет, вы сделайте, а мы посмотрим и тогда составим
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>
  <script>
    new Swiper('.review-slider', {
      slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 10,
      loop: true,
      speed: 3000,
      autoplay: {
        delay: 0,
        disableOnInteraction: false
      },
      breakpoints: {
        [MEDIA.xs]: {
          spaceBetween: 24,
        }
      }
    })
  </script>



  <footer class="footer">
    <div class="footer-ball" class=" fade-in-down" data-scroll>
      <img src="img/footer-ball.png" alt="" class="footer-ball-image">

      <img src="img/footer-star.png" alt="" class="footer-star footer-star-1">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-2">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-3">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-4">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-5">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-6">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-7">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-8">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-9">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-10">
      <img src="img/footer-star.png" alt="" class="footer-star footer-star-11">
    </div>
  </footer>

</body>

</html>