<%= _.template(require('./html-includes/header.html').default)({isIndex:false}) %>
    <div class="page-top-placeholder"></div>


    <div class="background-wrapper">
        <div class="background animate__animated animate__fadeIn">
            <div class="background-item background-item--1"></div>
            <div class="background-item background-item--2"></div>
            <!-- <div class="background-item background-item--3"></div> -->
            <!-- <div class="background-item background-item--4"></div> -->
        </div>
    </div>
    <section class="page-service" data-scroll-section>
        <div class="text-small fade-60 mb-10">
            <a href="/" class="link-hover">Главная</a> >
            Услуги
        </div>
        <div class="page-service__title title">Услуги</div>

        <!-- Разработка сайта -->
        <div class="page-service__subtitle">Разработка сайта</div>
        <div class="page-service__grid">
            <div class="page-service-item page-service-item--purple" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Корпоративный сайт</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--purple" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Интернет-магазин</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--purple" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Лендинг (Landing page)</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
        </div>

        <!-- Работа с сайтом -->
        <div class="page-service__subtitle">Работа с сайтом</div>
        <div class="page-service__grid">
            <div class="page-service-item page-service-item--blue" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Доработка сайта</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--blue" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Доработка сайта</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--blue" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Доработка сайта</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
        </div>

        <!-- Продвижение сайта -->
        <div class="page-service__subtitle">Продвижение сайта</div>
        <div class="page-service__grid">
            <div class="page-service-item page-service-item--orange" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Техподдержка</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--orange" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">SEO продвижение</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--orange" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Контекстная реклама</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
        </div>

        <!-- Разработка веб-приложений и систем -->
        <div class="page-service__subtitle">Разработка веб-приложений и систем</div>
        <div class="page-service__grid">
            <div class="page-service-item page-service-item--green" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Доработка сайта</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--green" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Доработка сайта</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
            <div class="page-service-item page-service-item--green" data-fancybox-modal data-type="ajax" data-src="dialog-form.html">
                <div class="page-service-item__title">Доработка сайта</div>
                <div class="page-service-item__subtitle">
                    Разработка корпоративного сайта,
                    интернет-магазина или лендинга - это к нам
                </div>
                <button class="page-service-item__btn btn btn--text btn--contur">Подробнее</button>
            </div>
        </div>
    </section>


    <%= _.template(require('./html-includes/footer.html').default)() %>