@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {
	@include getColors(#D21C4B, "primary");
	@include getColors(#CE9B44, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#EB5757, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#302B44, "text");

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'SF Pro Display', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	color         : var(--color-text);
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;


	* {
		font-family: var(--font-base);
	}

}

section {}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.background {
	height  : 100vh;
	width   : 100%;
	position: relative;

	&-wrapper {
		overflow      : hidden;
		pointer-events: none;
		height        : 2000px;
		position      : absolute;
		inset         : 0;
	}

	&-item {
		position     : absolute;
		border-radius: 50%;
		--duration   : 5s;
		animation    : bubbles var(--duration) infinite both;

		&--1 {
			width : calc(100% * 558 / 1920);
			height: calc(100% * 368 / 1080);
			right : calc(100% * (-72) / 1920);
			top   : 0px;

			background: #FF4B47;
			opacity   : 0.2;
			filter    : blur(100px);
		}

		&--2 {
			width : calc(100% * 1381 / 1920);
			height: calc(100% * 445 / 1080);
			left  : calc(100% * 740 / 1920);
			top   : calc(100% * 176 / 1080);

			background     : #FFF59D;
			opacity        : 0.3;
			filter         : blur(100px);
			transform      : matrix(-0.87, -0.25, -0.62, 0.95, 0, 0);
			animation-delay: calc(var(--duration) / 4);
		}

		&--3 {
			width : calc(100% * 776 / 1920);
			height: calc(100% * 148 / 1080);
			left  : calc(100% * 1100 / 1920);
			top   : calc(100% * 630 / 1080);

			background     : linear-gradient(91.07deg, #00A6FF -2.42%, #48FFBF 88.53%);
			opacity        : 0.4;
			filter         : blur(100px);
			transform      : matrix(-0.88, -0.23, -0.58, 0.96, 0, 0);
			animation-delay: calc(2 * var(--duration) / 4);
		}

		&--4 {
			width : calc(100% * 708 / 1920);
			height: calc(100% * 468 / 1080);
			left  : calc(100% * 635 / 1920);
			top   : calc(100% * 562 / 1080);

			background     : #FFA0A0;
			opacity        : 0.2;
			filter         : blur(100px);
			transform      : matrix(-1, 0, 0, 1, 0, 0);
			animation-delay: calc(3 * var(--duration) / 4);
		}
	}
}

@keyframes bubbles {
	50% {
		opacity: .5;
	}
}

.window {
	flex-grow     : 1;
	display       : flex;
	flex-direction: column;
	padding-bottom: 0;
	padding-top   : 60px;
	position      : relative;
	z-index       : 2;

	&-header {
		display      : flex;
		align-items  : center;
		background   : #DFE1E5;
		border-radius: 32px 32px 0px 0px;
		padding-left : 21px;
		padding-right: 18px;
		height       : 42px;
		overflow     : hidden;

		@media(max-width:$md) {
			padding-left : 10px;
			padding-right: 10px;
			border-radius: 8px 8px 0px 0px;
		}

		&-dots {
			margin-right: 14px;

			@media(max-width:$md) {
				display: none;
			}
		}

		&-dot {
			border-radius: 50%;

			@media(max-width:$md) {
				display: none;
			}
		}

		&-tab {
			background   : #FFFFFF;
			border-radius: 8px 8px 0px 0px;
			align-self   : flex-end;
			display      : flex;
			align-items  : center;
			padding      : 10px;
			font-weight  : 600;
			font-size    : 12px;
			cursor       : default;
			transition   : .15s;

			@media(hover) {
				&:hover {
					background: #fcfcfc;
				}
			}

			&__close {
				font-size: 8px;
				--size   : 14px;
				position : relative;

				&:before {
					content : '';
					position: absolute;
					inset   : -4px;
				}
			}
		}

		&-add {
			font-size    : 12px;
			padding      : 11px 20px;
			align-self   : flex-end;
			height       : auto;
			border-radius: 8px 8px 0px 0px;

			@media(max-width:$md) {
				display: none;
			}
		}

		&-arrow {
			@media(max-width:$md) {
				display: none;
			}
		}
	}

	&-control {
		background    : #fff;
		display       : flex;
		align-items   : center;
		height        : 36px;
		padding-top   : 4px;
		padding-bottom: 4px;
		padding-left  : 10px;
		padding-right : 10px;


		&-address {
			display      : flex;
			align-items  : center;
			flex-grow    : 1;
			background   : #F1F3F4;
			border-radius: 20px;
			padding-left : 14px;
			padding-right: 8px;
			margin       : 0 12px;
			align-self   : stretch;
			color        : #606367;
			line-height  : 1;
			font-size    : 14px;

			@media(max-width:$md) {
				margin-right: 0;
			}
		}

		&-refresh,
		&-next,
		&-back {
			color    : #606367;
			font-size: 14px;
			--size   : 25px
		}

		&-lock {
			color    : #606367;
			font-size: 12px;

		}

		&-star,
		&-share {
			color    : #626365;
			font-size: 14px;
			--size   : 24px
		}

		&-dots,
		&-toggle,
		&-ext {
			color    : #606367;
			font-size: 14px;
			--size   : 25px;

			@media(max-width:$md) {
				display: none;
			}
		}
	}

	&-content {
		border          : 2px solid #DBDCDD;
		border-top-width: 1px;
		border-bottom   : none;
		flex-grow       : 1;
		color           : #302B44;
		display         : flex;
		flex-direction  : column;
		align-items     : center;
		justify-content : center;
		text-align      : center;
		position        : relative;

		&__inner {
			display        : flex;
			flex-direction : column;
			align-items    : center;
			justify-content: center;
			text-align     : center;
			position       : relative;
			z-index        : 3;
		}

		&__title {
			margin-bottom: 44px;

			@media(max-width:$md) {
				width        : 60%;
				margin-bottom: 32px;
			}

			img {
				pointer-events: none;
			}
		}

		&__subtitle {
			margin-bottom: 114px;

			@media(max-width:$md) {
				margin-bottom: 44px;
			}
		}
	}
}

.color-inherit {
	color: inherit;
}

.code-cursor-wrapper {
	position      : absolute;
	inset         : 0;
	pointer-events: none;

	canvas {
		width     : 100%;
		height    : 100%;
		object-fit: contain;
		position  : absolute;
		left      : 0;
		top       : 0;
		z-index   : 2;
	}

	img {
		width     : 100%;
		height    : 100%;
		object-fit: contain;
		position  : absolute;
		left      : 0;
		top       : 0;
	}
}

.header {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
	padding-top    : 25px;
	padding-bottom : 25px;
	position       : fixed;
	left           : 0;
	top            : 0;
	width          : 100%;
	z-index        : var(--zi-l1);
	transition     : .2s;

	&-logo {
		display    : flex;
		align-items: center;

		&__img {}

		&__text {
			font-weight: 600;
			font-size  : 16px;
			opacity    : 0.8;
			margin-left: 16px;
		}
	}

	&-nav {
		display: flex;

		&__item {
			display : block;
			position: relative;

			&:before {
				content : '';
				position: absolute;
				inset   : -20px;
			}

			@media(hover) {
				&:hover {
					text-decoration: underline;
				}
			}

			&+& {
				margin-left: 40px;
			}
		}
	}

	&__phone {
		font-weight: 700;
		font-size  : 20px;
	}
}


body:not(.scroll-top) .header {
	background    : #fff;
	padding-top   : 12px;
	padding-bottom: 12px;
	box-shadow    : 0px 12px 20px rgba(0, 0, 0, 0.08);
}

body:not(.loaded) {
	overflow: hidden;
}

body:not(.loaded) .header {
	opacity: 0;
}

.started {
	position      : relative;
	isolation     : isolate;
	padding-top   : 292px;
	padding-bottom: 150px;



	display       : flex;
	flex-direction: column;
	align-items   : center;
	position      : relative;

	.code-cursor-wrapper {
		pointer-events: none;
		bottom        : -200px;
		transition    : .2s ease;
	}

	&-inner {
		isolation     : isolate;
		display       : flex;
		flex-direction: column;
		align-items   : center;

	}

	&__logo {
		height        : 195px;
		mix-blend-mode: luminosity;
		position      : relative;
		z-index       : 3;

		background     : linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;

		mask      : url("../img/started-logo.svg") no-repeat center / contain;
		transition: 2s ease-in-out;

		opacity  : 0;
		animation: logoFadeIn .75s both, gradient 10s ease infinite;

		&-wrapper {
			padding: 100px 50px 0;
			margin : -100px -50px 0;
		}

		img {
			opacity: 0;
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size  : 26px;
		margin-top : 80px;
		position   : relative;
		z-index    : 3;
		transition : .2s ease;
	}

	&__btn {
		margin-top   : 32px;
		height       : 50px;
		font-weight  : 400;
		width        : 192px;
		font-size    : 18px;
		border-radius: 12px;
		border-color : rgba(48, 43, 68, 0.6);
		position     : relative;
		z-index      : 3 !important;


		transition: .2s ease;
	}
}

@keyframes logoFadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

body:not(.loaded) .started {
	&__logo {
		transform: translateY(10%) scale(1.2);
	}

	&__subtitle {
		opacity: 0;
	}

	&__btn {
		opacity: 0;
	}

	.code-cursor-wrapper {
		opacity: 0;
	}
}

@keyframes glowing {

	0%,
	100% {
		background-position: 0 0
	}

	50% {
		background-position: 400% 0
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.index-service {
	padding-top  : 150px;
	padding-left : 30px;
	padding-right: 30px;
	position     : relative;
	z-index      : 2;

	&-item {
		border-radius : 24px;
		height        : 420px;
		padding       : 40px 20px;
		padding-top   : 140px;
		padding-top   : 100px;
		display       : flex;
		flex-direction: column;
		position      : relative;
		overflow      : hidden;
		cursor        : pointer;

		&--purple {
			background: linear-gradient(258.1deg, rgba(243, 222, 247, 0.3) 8.7%, rgba(255, 255, 255, 0.3) 58.7%), #F8EDFA;
		}

		&--blue {
			background: linear-gradient(258.1deg, rgba(210, 237, 241, 0.3) 8.7%, rgba(255, 255, 255, 0.3) 58.7%), #E4F6F9;
		}

		&--orange {
			background: linear-gradient(258.1deg, rgba(239, 187, 160, 0.3) 8.7%, rgba(255, 255, 255, 0.3) 58.7%), #FCEEE7;
		}

		&--green {
			background: linear-gradient(258.1deg, rgba(141, 193, 141, 0.2) 8.7%, rgba(255, 255, 255, 0.2) 58.7%), #E4F8E4;
		}

		&-video {
			position      : absolute;
			left          : 0;
			top           : 0;
			width         : 100%;
			height        : 100%;
			transition    : .25s;
			pointer-events: none;

			video {
				width     : 100%;
				height    : 100%;
				object-fit: cover;
			}
		}

		&:not(:hover) &-video {
			opacity  : 0;
			transform: scale(1.2);
		}

		&-content {
			flex-grow     : 1;
			display       : flex;
			flex-direction: column;
			position      : relative;
		}

		&:hover {
			// color: #fff;
		}

		&-sign,
		&-title {
			transition: color .2s, transform .5s;
		}

		&-subtitle {
			transition: .2s;
		}

		// &:hover &-sign,
		&:hover &-subtitle {
			opacity: 0;
		}

		&:hover &-sign {
			transform: translateY(-2em)
		}

		&:hover &-title {
			transform: translateY(1em) scale(1.1);
		}
	}
}

.partners {
	padding-top   : 108px;
	padding-bottom: 120px;
	background    : #fff;

	&__title {
		font-weight   : 700;
		font-size     : 52px;
		margin-bottom : 96px;
		text-align    : center;
		text-transform: uppercase;
	}

	&-grid {
		display              : grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap             : 92px 20px;
	}

	&-item {
		display       : flex;
		flex-direction: column;
		align-items   : center;
		text-align    : center;

		&__img {
			height: 100px;
			width : 100%;

			img {
				width          : 100%;
				height         : 100%;
				object-fit     : scale-down;
				object-position: center;
			}
		}

		&__title {
			opacity   : 0.7;
			margin-top: 28px;
		}
	}
}

.nothing {
	padding-top   : 200px;
	padding-bottom: 180px;
	background    :
		url("../img/nothing-gradient.png") no-repeat center / cover;
	overflow: hidden;
	position: relative;

	&-background {
		position             : absolute;
		left                 : 0;
		top                  : 0;
		width                : 100%;
		height               : 100%;
		display              : grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap             : 160px 80px;

		transform: rotate(15deg);

		&__item {
			height: 384px;

			background   : linear-gradient(180deg, rgba(255, 255, 255, 0.231) 0%, rgba(255, 255, 255, 0.294) 0.01%, rgba(255, 255, 255, 0.7) 100%);
			box-shadow   : 0px 20px 20px rgba(0, 0, 0, 0.04);
			border-radius: 24px;

			&--big {
				grid-column-end: span 2;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size  : 52px;
		text-align : center;
		background :
			radial-gradient(100px 100px at 65% 14%, #FFBB3F 25%, rgba(0, 0, 0, 0)) 100%,
			radial-gradient(90px 90px at 49% 50%, #37C8F5 25%, rgba(0, 0, 0, 0)) 100%,
			radial-gradient(90px 90px at 68% 90%, #FF5389 25%, rgba(0, 0, 0, 0)) 100%,
			linear-gradient(270deg, rgba(67, 139, 249, 0.3) 15.85%, rgba(48, 43, 68, 0.3) 100%), #302B44;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip        : text;
		text-fill-color        : transparent;

		img {
			display       : inline;
			width         : 46px;
			height        : 46px;
			object-fit    : scale-down;
			vertical-align: middle;
		}
	}

	&-lamp,
	&-money,
	&-rocket {
		display : inline-block;
		position: relative;

	}

	&-lamp {}

	&__subtitle {
		text-align : center;
		color      : var(--color-text-80);
		font-size  : 18px;
		margin-top : 52px;
		line-height: 1.4;

		span {
			display    : block;
			font-weight: 600;
			color      : var(--color-text);
		}
	}

	&__btn {
		--size       : 50px;
		border-radius: 12px;
		font-size    : 18px;
		border-color : rgba(48, 43, 68, 0.6);
		width        : 104px;
		margin-left  : auto;
		margin-right : auto;
		margin-top   : 32px;
	}
}

.work {
	width         : calc(100% - 60px);
	margin-left   : auto;
	margin-right  : auto;
	border-radius : 24px;
	padding-left  : 0;
	padding-right : 0;
	padding-top   : 72px;
	padding-bottom: 0;
	overflow      : hidden;


	&-fixed-wrapper {
		width   : 100%;
		position: relative;
	}

	&-fixed-target {
		position      : absolute;
		left          : 0;
		top           : 0;
		bottom        : -300vh;
		width         : 100%;
		pointer-events: none;
	}

	&-wrapper {
		position  : relative;
		border-top: 32px solid #fff;
		background: #fff;
	}


	&__content {
		display       : flex;
		flex-direction: column;
		align-items   : flex-start;
		padding-top   : 80px;
	}

	&__title {
		font-weight: 700;
		font-size  : 52px;

		img {
			display       : inline;
			width         : 46px;
			height        : 46px;
			object-fit    : scale-down;
			vertical-align: middle;
		}
	}

	&__preview {
		width        : 908px;
		margin-right : -180px;
		margin-left  : auto;
		border-radius: 24px 24px 0px 0px;
		overflow     : hidden;
		position     : relative;
		z-index      : 2;
	}
}

.flora {
	background: linear-gradient(283.18deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #F6E3F9;

	&__title {
		background             : linear-gradient(342deg, rgba(255, 115, 224, 0.6) 32.24%, rgba(255, 115, 224, 0) 55.78%), #302B44;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip        : text;
		text-fill-color        : transparent;
	}

	&-buner {
		position      : absolute;
		pointer-events: none;

		&--1 {
			left       : 0;
			bottom     : -150px;
			padding-top: 100vh;
		}

		&--2 {
			right      : 0;
			bottom     : -150px;
			padding-top: 100vh;
			z-index    : 3;
		}

		&--3 {
			right: 50%;
			top  : 0;
		}

		&--4 {
			right : 45%;
			bottom: 40px;
		}
	}
}

.park {
	background: url("../img/work/park/background.jpg") no-repeat center / cover;

	&__title {
		background             : linear-gradient(319.42deg, rgba(186, 64, 76, 0.6) 32.24%, rgba(186, 64, 76, 0) 55.78%), #302B44;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip        : text;
		text-fill-color        : transparent;
	}

	&-buner {
		position      : absolute;
		pointer-events: none;

		&--1 {
			left   : 25%;
			bottom : 60px;
			z-index: 2;
		}

		&--2 {
			left  : 27%;
			bottom: 0;
		}

		&--3 {
			right  : 0;
			bottom : 120px;
			z-index: 3;
		}

		&--4 {
			right  : 0;
			bottom : 60px;
			z-index: 2;
		}

		&--5 {
			right : 0;
			bottom: 0;
		}

		&--6 {
			right  : 0;
			bottom : 0;
			z-index: 1;
		}
	}
}

.krav {
	background: url("../img/work/krav/background.jpg") no-repeat center / cover;
	color     : #fff;

	&__title {
		background             : linear-gradient(342deg, rgba(41, 107, 204, 0.6) 32.24%, rgba(41, 107, 204, 0) 55.78%), #FFFFFF;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip        : text;
		text-fill-color        : transparent;
	}

	&-buner {
		position      : absolute;
		pointer-events: none;

		&--1 {
			left   : 0;
			bottom : 120px;
			z-index: 3;
		}

		&--2 {
			right  : 0;
			bottom : 120px;
			z-index: 3;
		}

		&--3 {
			bottom : 284px;
			left   : 40%;
			z-index: 2;
		}

		&--4 {
			bottom : -40px;
			right  : 40px;
			z-index: 2;
		}
	}
}

.footer {
	background    : #F2F2F7;
	padding-top   : 52px;
	padding-bottom: 42px;

	&-nav {
		display       : flex;
		flex-direction: column;
		align-items   : flex-start;
	}
}